n8n_telegram_workflow.json
{
  "name": "Perfect Gigs - Ishan AI Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "perfect-gigs-ishan",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Perfect Gigs Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://talentplus-3.preview.emergentagent.com/api/telegram/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: String($json.message.chat.id), message: $json.message.text || '', user_name: $json.message.from.first_name || 'User' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-ishan-api",
      "name": "Call Ishan AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet message = response.response || 'Sorry, something went wrong. Try again!';\n\n// Truncate if too long for Telegram (max 4096 chars)\nif (message.length > 4000) {\n  message = message.substring(0, 3997) + '...';\n}\n\nreturn [{ message: message }];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-telegram",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [950, 300],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Perfect Gigs Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Call Ishan AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ishan AI": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
